html {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

* {
  border-collapse: collapse;
}

link {
  text-decoration-color: snow;
}

div {
  background-color: white;
}

label {
  color: black;
}

input {
  background-color: white;
}

button {
  border: 2px solid rgb(69, 59, 163);
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.mainMenu {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  color: white;
}

.container {
  display: table;
  width: 100%;
}
.row {
  width: 100%;
  display: table-row;
  table-layout: auto;
}
.cell {
  display: table-cell;
  margin: 10px;
  table-layout: auto;
}

.home {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.view {
  width: 100%;
}

nav.mainMenu {
  width: 100%;
  display: table;
  table-layout: fixed;
}

div.mainMenu {
  background-color: rgb(0, 79, 144);
  height: 40px;
  border: 7px solid white;
  display: table-cell;
  vertical-align: middle;
}

.billLine {
  margin: 10px;
  display: table-cell;
  table-layout: auto;
  vertical-align: middle;
}

div.billLine {
  display: table-row;
}

.shoppingList {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table.shoppingList {
  margin: 2%;
}

div.shoppingList {
  width: 100%;
  align-items: center;
}

caption, table, th, tr, td.shoppingList {
  border: 1px solid rgb(15, 129, 123);
  border-collapse: collapse;
}

caption.shoppingList {
  font-size: 130%;
  background-color: rgb(169, 186, 204);
}

#submitButton {
  border-radius: 10px;
  text-decoration-color: red;
  align-items: center;
  height: 30px;
  width: 68%;
}
