* {
  border-collapse: collapse;
}

link {
  text-decoration-color: snow;
}

div {
  background-color: lightgrey;
}

label {
  color: black;
}

input {
  background-color: white;
}

button {
  border: 2px solid darkgreen;
  border-radius: 4px;
}

.mainMenu {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-decoration-color: red;
}

.container {
  display: table;
  width: 100%;
}
.row {
  width: 100%;
  display: table-row;
}
.cell {
  display: table-cell;
  table-layout: fixed;
}

div.home {
  width: 100%;
  height: 100%;
  margin: 0%;
}

div.view {
  width: 100%;
}

nav.mainMenu {
  width: 100%;
  display: table;
  table-layout: fixed;
}

div.mainMenu {
  background-color: grey;
  height: 40px;
  border: 2px solid maroon;
  display: table-cell;
  vertical-align: middle;
}

.shoppingList {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table.shoppingList {
  margin: 2%;
}

div.shoppingList {
  width: 100%;
  align-items: center;
}

caption, table, th, tr.shoppingList {
  border: 1px solid maroon;
  border-collapse: collapse;
}

caption.shoppingList {
  font-size: 130%;
  background-color: lightslategray;
}

#submitButton {
  border-radius: 10px;
  text-decoration-color: red;
  align-items: center;
  height: 30px;
  width: 80%;
}
